* {
    box-sizing: border-box;
}
body {
    font-family: "Work Sans, sans-serif";
}
div {
width: 300px;
margin: 20px auto;
}
 input {
padding: 15px;
width: 100%;
border: none;
border-bottom: 2px solid #d7d7d7;
background-color: #f8f8f8;
 }
 input:focus {
     outline: none;
 }
 .progress {
background-color: #2196f3;
height: 2px;
width: 0;
display: block;
position: relative;
top: -2px;
transition: 0.5s;
 }
 .count {
display: block;
text-align: center;
font-size: 12px;
padding: 5px;
 }
  .zero {
      font-weight: bold;
      color: red;
  }